* {
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gameField div {
    float:left;
    
}

.clearFix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.gameField {
    width: 100%;
    position: absolute;
    height: 100%;
}

.gameContainer, button, .players {
    left: 50%;
    transform: translateX(-50%);
}

.gameContainer {
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 650px;
    width: 600px;
}

.board {
    position: absolute;
    left: 0;
    background: grey;
    height: 600px;
    width: 600px;
    border: 5px groove grey;
}

#newGame {
  position: absolute;  
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tile {
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 29.3%;
    height: 29.3%;
    border: 3px groove orangered;
    float: left;
    margin: 2%;
    font-size: 200px;
    text-align: center;
    line-height: 87%;
    border-radius: 12px;
}

.clickable:hover {
    background-color: rgb(153, 145, 145);
}

.clickable:active {
    background-color: green;
}

.player1, .player2, .playerDraws {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 5px groove royalblue;
    width: 30%;
    min-height: 140px;
}

.playerDraws {
    line-height: 80px;
}

.player1 > p, .player2 > p {
    padding: 0;
    margin: 2px;
}

.players {
    display: flex;
    text-align: center;
    position: absolute;
    width: 600px;
    justify-content: space-between;
}

.nameSet {
    width: 100%;
    padding: 0 0;
}

input {
    width: 50%;
}